@page
@model CWASP_Razor_Edition.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p style="display:inline">
        OTO #: <input type="text" asp-for="SearchOTO" />
        Student Name: <input type="text" asp-for="SearchString"/>
        Reason:
        <select asp-for="TicketReason" asp-items="Model.Reason">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].LoanerOTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].LogTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanerOTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
